.ham{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    background-color: white;
    height: 100%;
}
*{
    padding: 0;
    margin: 0;
    background-color:white;

}
.lol{
    width: 22%;
    height: 40vh  ;
    margin-left:6% ;
    margin-top: 6%;
    flex-direction: column;
    display: flex;
    border-radius: 8%;
    align-items: center;
    padding: 10px;
    background-color: white;    -webkit-box-shadow: 3px 3px 15px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 18px 6px #ccc;     
    background-color: white;        
}

.lol>.icon_x{
    display: flex;
    height: 8%;
    background-color: white;
    position: relative;
    width: 91%;
    margin-top: 4%;
}

.icon_x>.x{
    position: absolute;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}
.x>img{
    cursor: pointer;
    width: 60%;
    height: 60%;    background-color: white;

}

.lol>.menu{
    height: 80%;
    width: 96%;
    margin-top:0%;
    display: flex;
    background-color: darkcyan;

    text-align: center;
}
.menu>.k1{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}


.k1>.k11{
    width: 100%;
    display: flex;
    justify-content: left;
    color: gray;
    background-color: white;

    align-items: center;
    font-size: 1em;
    text-align: center;
    height: 20%;
}.menu>.k2{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}
.k2>.k11{
    width: 100%;
    display: flex;
    justify-content: left;

    align-items: center;
    font-size: 0.95em;
    text-align: center;
    height: 20%;
    background-color: white;
}