*{
    margin: 0;
    padding: 0;
}
.all{
height: 100vh;    width: 100%;
background-image: 
linear-gradient(to right bottom, #a949d4, #ac4bd8, #b04ddc, #b350e0, #b752e4);
display: flex;
}
.all>.suret{
    width: 70%;

}.suret{
    background: url("https://i-teka.kz/assets/3f85cc49/notebook-form.svg") no-repeat ;
    background-size: 97% 100% ;
    background-position-x: 20px ;
    background-position-y: 50px;
}
.all>.rr{
    width: 23%;
}
.rr{
    display: flex;
    flex-direction: column;
    width: 23%;
}
.rr>.icon{
    padding:20px 65px;
    display: flex;
    align-items: center;
    width: 23%;
}
.rr>.zareg{
    font-family: GT-Walsheim-Pro-Regular,sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    display: flex;
    padding: 25px 0px;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;


}


.rr>.nazaf{
    font-family: GT-Walsheim-Pro-Regular,sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    display: flex;
    padding: 25px 0px;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;


}
.qa{
    color: white;
}
.rr>.page{
    height: 50vh;
    background-color: white;
    border-radius: 24px;
}
.page{
    display: flex;
    flex-direction: column;
}
.page>.sur{
    padding: 1px 20px;
    padding-top: 30px;color: gray;

}


.page>.sur2{
    padding: 3px 20px;
    height:2vh;
    padding-top: 14px;
    color: gray;


}

.page>.sur1{
    padding: 0px 20px;
    height:7vh;
    border-color: black;
    
}



.page>.sur3{
    padding: 0px 20px;
    height:7vh;
    border: unset ridge none none;
    border-color: black;
}
.in{
    
    width: 100%;
    border-width:1.92px;
    border-style:none none ridge none;
    height: 95%;
    border-color: grey;
    
    

}

input:focus,.in:focus {
    outline: none;
}

.hah{
    margin-top: 15px;
    height: 6vh;
    padding: 15px 20px;

}
.hah>input{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #7d24a3, #8a28b4, #972cc5, #a430d6, #b134e8);
    border-radius: 25px;
    border: none;
    color: white;
}


.page>.sur5{
    padding: 20px 20px;
    height:2vh;
    color: gray;

}a{    text-decoration: none;
 }